
.sidebar {
    position: absolute;
    display: relative;
    background-color: #f9f9f9;
    width: 15%;
    right: 0;
    margin-right: 10px;
    z-index: 1;
}
.menuItems{
    /* position: absolute; */
    /* background-color: rgb(180, 180, 180); */
    border: solid 1px black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 100px;
    width: 100%;
}
.menuItems li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menuItems li:hover {
    background-color: yellow;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}