

.navbar {
  background-color: rgb(190 242 100);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  color: rgb(30 41 59);
  height: 100px;
  width: 100%;
  /* padding: 1rem 0; */
  position: fixed;
  top: 0;
  padding: 20px 2rem 20px 2rem;
  }
/* 
.iprofile {
  position: relative;
  display: inline-block;
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar {
    background: wheat;
    visibility: hidden;
    top: -100px;
  }
  .logo {
    color: red;
    width: 50px;
  }
  .hsearch {
      visibility: visible;
  }
  .navItems{
    visibility: hidden;
  }
  .profile {
    visibility: hidden;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar {
    visibility: hidden;
  }
  .navItems{
    visibility: hidden;
  }
  .profile {
    visibility: hidden;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar {
    visibility: hidden;
    top: -100px;
  }
  /* .navItems{
    visibility: hidden;
  }
  .profile {
    visibility: visible;
  }
  .dprofile {
    width: 70%;
    display: block;
  }
  .imagep {
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
  } */
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar {
    visibility: visible;
    top: 0px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar {
    visibility: visible;
  }
  .profile:hover{
    display: block;
    background-color: red;
  }
  .navItems{
    visibility: visible;
  }
  .profile {
    visibility: visible;
  }
  .imagep {
    display: flex;
    border: 1px solid black;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
}

