

.navbar {
  background-color: rgb(190 242 100);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  color: rgb(30 41 59);
  height: 100px;
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  }
.logo {
  font-style: italic;
}
.dprofile {
  width: 50%;
  display: block;
}
.profile{
  width: 50px;
  height: 50px;
  /* border: 1px solid black; */
  border-radius: 50%;
}
.profile:hover{
  color: red;
}
.iprofile {
  position: relative;
  display: inline-block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar {
    background: wheat;
    visibility: hidden;
    top: -100px;
  }
  .logo {
    color: red;
    width: 50px;
  }
  .hsearch {
      visibility: visible;
  }
  .navItems{
    visibility: hidden;
  }
  .profile {
    visibility: hidden;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar {
    visibility: hidden;
  }
  .navItems{
    visibility: hidden;
  }
  .profile {
    visibility: hidden;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar {
    visibility: hidden;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar {
    visibility: visible;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar {
    visibility: visible;
  }
  .navItems{
    visibility: visible;
  }
  .profile {
    visibility: visible;
  }
  .imagep {
    border: 1px solid black;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 50%;
    height: 50px;
    object-fit: cover;
}
}

