/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .backhome {
        visibility: visible;
        height: 3rem;
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 0px 0px 10px 0px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .backhome {
        visibility: hidden;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .backhome {
        visibility: hidden;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .backhome {
        visibility: hidden;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .backhome {
        visibility: hidden;
    }
}

